@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

td:first-child{
	padding-right: 1em;
}

td:last-child{
	text-align: right;
}

tbody tr:last-child td{
	padding-bottom: 0.5em;
}

tfoot td{
	padding: 0.5em 0;
}

tfoot td:first-child{
	text-align: center;
}

tfoot td:last-child{
	border-bottom: 1px solid;
	border-top: 1px solid;
}